# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

encurage-new-18b38f50569d.json
oncure-app-firebase-adminsdk-j41yq-34921b17e4.json
oncure-app-service-account.json